extends layout

block content
  aside.right-side
    section.content
      div.row.well.col-lg-7.span6
        h1= title
        p Bienvenido to #{title}
        form(method='post', action='/login')
          div.form-group
            input.form-control(type='text', name='email', placeholder='Ingrese su email...')
          div.form-group
            button.btn.btn-lg.btn-default(type='submit') Ingresar