extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post', action='/login')
    input(type='text', name='nick', placeholder='Introduzca su nick...')
    button(type='submit') Entrar