div#todo{
	text-align: center;
}
section{
	background:white;
	box-shadow:0px 0px 20px white;
	border-radius:10px 10px 10px 10px;
	border:solid 1px white; 
}
section article p{
	text-align:justify;
}
section article small{
	float:right;
	color:blue;
	margin-top:20px;
	cursor:pointer;
}
section article{
	height:60px;
	overflow:hidden;
	transition:height 2s;
	-webkit-transition:height 2s;
	-moz-transition:height 2s;
	-o-transition:height 2s;
	-ms-transition:height 2s;
	outline:none;
	cursor:default;
}
section article.clase1:focus{
	height:400px;
}
section article.clase2:focus{
	height:750px;
}
section article.clase3:focus{
	height:750px;
}
section article.clase4:focus{
	height:300px;
}
