body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
div {
  border: 1px solid;
}
#main {
  height: 600px;
  margin: 20px auto;
  max-width: 900px;
  width: 100%;
}
#left {
  float: left;
  height: 100%;
  width: 80%;
}
#right {
  float: right;
  height: 100%;
  width: 19%;
}
#mbox {
  width: 100%;
  height: 570px;
}
#wbox {
  width: 100%;
  height: 26px;
}
.disconnected {
  color: #f00;
}
.connected {
  color: #008000;
}
